@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  button {
    transition: background-color 0.3s ease-in-out;
  }
}
